{
    "env": {
        "es6": true
    },
    "rules": {
        "accessor-pairs": 0,
        "block-scoped-var": 2,
        "brace-style": [2, 1tbs],
        "comma-dangle": [2, never],
        "complexity": [2, 8],
        "consistent-return": 2,
        "dot-location": [2, property],
        "dot-notation": 2,
        "eol-last": 2,
        "eqeqeq": 0,
        "indent": [2, 4, {SwitchCase: 1}],
        "max-depth": [2, 6],
        "max-len": [2, 120, 4],
        "max-statements": [2, 40],
        "no-bitwise": 0,
        "no-console": 2,
        "no-dupe-class-members": 2,
        "no-else-return": 2,
        "no-empty": 2,
        "no-eq-null": 2,
        "no-ex-assign": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-semi": 2,
        "no-fallthrough": 2
    }
}
